body
{
    /* background-color: #ccffff; */
    background-color:#d9fcfc; 
}
@media screen and (max-width: 410px) 
{

.card
{
   border: 2px solid white;
   width: 90%;
   margin: 0px auto;
}
.heading-container
{
    margin-top: -20px;
    background-color: #ff8533;
    color: white;


}
.card-heading
{
 text-align: center;
 font-size: 20px;
 padding: 8px 15px ;
}
.pass-type-container
{
    display: flex;
    margin: 0px auto;
    margin-top: -20px;
    justify-content: center;


    
}
.pt-div
{
   margin-left: -20px;
}
.sub-text
{
    margin-top: -20px;
}
.dashed-line-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashed-line 
{
    width: 320px;
}
.round-img
{
    height: 20px;
    width: 20px;
}
.img1
{
    margin-left: 0px;
}


.card-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Normal size */
    }
    50% {
        transform: scale(1.2); /* Zoom in */
    }
    100% {
        transform: scale(1); /* Zoom out to normal size */
    }
}
.card-img
{
    animation: zoomInOut 2s infinite ease-in-out;
    height: 120px;
    width: 120px;
}
.container-bottom-heading
{
    margin-bottom: -17px;
    background-color: #ff8533;
    color: white;
}
.card-bottom
{
   
 text-align: center;
 font-size: 20px;
 padding: 8px 15px ;
}

}