body
{
    /* background-color: #ccffff; */
    background-color:#d9fcfc; 
}
@media screen and (max-width: 550px) 
{

.card
{
   border: 2px solid white;
   width: 90%;
   margin: 0px auto;
}
.heading-container
{
    margin-top: -20px;
    background-color: #ff8533;
    color: white;


}
.card-heading
{
 text-align: center;
 font-size: 22px;
 padding: 8px;
}
.pass-type-container
{
    display: flex;
    margin: 0px auto;
    margin-top: -20px;
    justify-content: center;
}
.pt-div
{
   
}
.sub-text
{
    margin-top: -20px;
}
}